@using LogbookWood.Common
@using LogbookWood.Data.Models
@using Microsoft.AspNetCore.Identity
@using LogbookWood.Web
@model LogbookWood.Web.ViewModels.WoodWarehouse.CreateWoodWarehouseViewModel
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{ this.ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <a href="/WoodWarehouse/CreateW" class="Button">Съсдай</a>
</div>

