@using LogbookWood.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>

    <div class="container body-content">

        <div class="row">
            <div class="col-lg-12" style="margin-top:50px;">
                <h2> Начало</h2>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                    <a href="/Tickets/CreateReceipt">
                        <div class="panel panel-success text-center">
                            <div class="panel-heading">
                                <h3 class="panel-title">Превозен билет</h3>
                                <span>за постъпление</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="/Tickets/ListDispatch">
                        <div class="panel panel-success text-center">
                            <div class="panel-heading">
                                <h3 class="panel-title">Превозен билет</h3>
                                <span>за експедиция</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="/Reports/Index">
                        <div class="panel panel-success text-center">
                            <div class="panel-heading">
                                <h3 class="panel-title">Справки</h3>
                                <span>&nbsp;</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <a href="/Tickets/ListImports">
                        <div class="panel panel-success text-center">
                            <div class="panel-heading">
                                <h3 class="panel-title">Внос</h3>
                                <span>на дървесина</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="/Tickets/ListProcessing">
                        <div class="panel panel-success text-center">
                            <div class="panel-heading">
                                <h3 class="panel-title">Преработка</h3>
                                <span>на дървесина</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="/Tickets/ListShipment">
                        <div class="panel panel-success text-center">
                            <div class="panel-heading">
                                <h3 class="panel-title">Изписване</h3>
                                <span>на дървесина</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
