@model LogbookWood.Web.ViewModels.Vehicle.CreateVehicleViewModel
@using LogbookWood.Data.Models
@using LogbookWood.Data
@inject LogbookWood.Services.Data.Models.ITicketService ticketService
@using Microsoft.AspNetCore.Identity
@using LogbookWood.Web
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    this.ViewData["Title"] = "Превозни средства";

}
<form method="post" class="">
    <div class="row">
        <div class="col">
            <h2 class="text-center"> Ново превозно средство</h2>
            <div class="row">
                <div class="col-xl-8">
                    <label>Регистрационен номер</label>
                    <input asp-for="RegistrationNumber" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8">
                    <label>Марка</label>
                    <input asp-for="Brand" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8">
                    <label>Модел</label>
                    <input asp-for="Model" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Регистрирай</button>
</form>