@model LogbookWood.Web.ViewModels.Tickets.CreateTicketModel
@using LogbookWood.Data.Models
@{
    this.ViewData["Title"] = "Постъпление";

}
<h2 class="text-center">Превозен билет</h2>
<h4 class="text-center"> Постъпление</h4>
<h5 class="text-center">Нов</h5>
<div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Date</label>
    <div class="col-4">
        <input class="form-control" type="date" value="2020-06-22" id="example-date-input">
    </div>
</div>
<form method="post" class="form-inline">

    <div class="from-group">
        <label asp-for="Wood"></label>
        <select asp-for="Wood" class="form-control" asp-items="Model.WoodItems"> </select>
        <span asp-validation-for="Wood" class="text-danger"></span>
    </div>
    <div class="from-group">
        <label asp-for="Category"></label>
        <select asp-for="Category" class="form-control" asp-items="Model.AssortmentItems"></select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <div class="from-group">
        <label asp-for="Unit"></label>
        <input asp-for="Unit" class="form-control" />
    </div>
    <div class="from-group">
        <label asp-for="Length"></label>
        <input asp-for="Length" class="form-control" />
    </div>
    <div class="from-group">
        <label asp-for="Width"></label>
        <input asp-for="Width" class="form-control" />
    </div>
    <div class="from-group">
        <label asp-for="Thickness"></label>
        <input asp-for="Thickness" class="form-control" />
    </div>
    <div class="from-group">
        <label asp-for="Coefficient"></label>
        <input asp-for="Coefficient" class="form-control" />
    </div>
    <div class="from-group">
        <label asp-for="TotalVolume"></label>
        <input asp-for="TotalVolume" class="form-control" />
        <span asp-validation-for="TotalVolume" class="text-danger"></span>
    </div>
    <div class="from-group">
        <label asp-for="Count"></label>
        <input asp-for="Count" class="form-control" />
    </div>
    <div class="from-group">
        <label asp-for="Comment"></label>
        <textarea asp-for="Comment" class=" form-control">  </textarea>
    </div>
    <button type="submit" class="btn btn-success">Регистрирай</button>
</form>

