@model LogbookWood.Web.ViewModels.WoodWarehouse.CreateWoodWarehouseViewModel

<div class="text-center">
    <h1 class="display-4">Нов склад</h1>

    <form method="post" class="form-group">

        <div class="from-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="from-group">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />
        </div>
        <div class="from-group">
            <label asp-for="
                   BULSTST"></label>
            <input asp-for="BULSTST" class="form-control" />
        </div>
        <div class="from-group">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Регистрирай</button>
    </form>

</div>
